body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(/static/images/img01.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #66665E;
}
h1, h2, h3 {
	margin: 0;
	font-family: "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #4B8749;
}
h1 {
    font-size: 21px;
}
h2 {
	font-size: 18px;
	margin-top: 0.5em;
	margin-bottom: 0.2em;
}
h3 {
	margin-top: 0.5em;
	margin-bottom: 0.2em;
}
p, ul, ol {
	margin-top: 0;
	line-height: 240%;
	text-align: justify;
}
ul, ol {}
blockquote {}
a { color: #41ACE7; }
a:hover { text-decoration: none; }
a img {
	border: none;
}
img.left {
	float: left;
	margin: 7px 30px 0 0;
}
img.right {
	float: right;
	margin: 7px 0 0 30px;
}
hr { display: none; }
label { display: block; }
.list1 {
}
.list1 li {
	float: left;
	line-height: normal;
}
.list1 li img {
	margin: 0 30px 30px 0;
}
.list1 li.alt img {
	margin-right: 0;
}
#wrapper {}
/* Header */
#header-wrapper {}
#header {
	width: 1000px;
	height: 64px;
	margin: 0 auto;
	background: url(/static/images/img02.jpg) no-repeat left top;
}
/* Menu */
#menu {
	float: left;
	width: 540px;
	height: 64px;
}
#menu ul {
	margin: 0;
	padding: 0px 0px 0px 5px;
	list-style: none;
	line-height: normal;
}
#menu li {
	display: block;
	float: left;
}
#menu a {
	display: block;
	float: left;
	height: 20px;
	margin-right: 3px;
	padding: 28px 25px 15px 25px;
	background: url(/static/images/img07.jpg) no-repeat left 32px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
#menu a:hover { text-decoration: underline; }
#menu .current_page_item {
	height: 20px;
	color: #FFFFFF;
	font-weight: bold;
}
#menu .first {
	background: none;
}
/* Search */
#search {
	float: right;
	width: 305px;
	height: 50px;
}
#search form {
	float: right;
	margin: 0;
	padding: 25px 20px 0 0;
}
#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
#search input {
	float: left;
	font: 12px Georgia, "Times New Roman", Times, serif;
	border: none;
}
#search-text {
	width: 135px;
	height: 18px;
	padding: 3px 0 0 5px;
	border: 1px solid #333333;
	background: #ECF9E4;
	color: #000000;
}
#search-submit {
	height: 21px;
	margin-left: 10px;
	padding: 0px 5px;
	background: #000000;
	color: #FFFFFF;
}
/* Page */
#page {
	width: 1000px;
	margin: 0 auto;
	background: url(/static/images/img04.jpg) repeat-y left top;
}
#page-bgtop {
	padding-top: 30px;
	background: url(/static/images/img03.jpg) no-repeat left top;
}
/* Logo */
#logo {
	width: 960px;
	height: 80px;
	margin: 0 auto;
}
#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	font-weight: normal;
	color: #FFFFFF;
}
#logo p {
	text-transform: uppercase;
	font-size: 10px;
}
#logo h1 {
	padding-top: 15px;
	font-size: 34px;
}
#logo a {
	text-decoration: none;
	color: #FFFFFF;
}
/* Content */
#content_wrapper {
	float: right;
	width: 738px;
	padding-top: 20px;
	padding-right: 40px;
}
/* Post */
.ost {
	margin-bottom: 25px;
}
.post .title {
	height: 30px;
	color: #42423E;
}
.post .title a {
	text-decoration: none;
	color: #42423E;
}
.post .date {}
.post .meta {
	margin-top: -10px;
	padding: 2px 30px 2px 16px;
	background: url(/static/images/img08.jpg) no-repeat left 10px;
	border-bottom: 1px #BDBDBB dotted;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #66665E;
}
.post .meta span {
	display: block;
	margin-top: -10px;
}
.post .meta a {}
.post .entry {
	padding: 10px 0;
}
.post .links {
	margin: 0 250px 0 0;
	padding: 0 0 0 0px;
}
.post .links .comments {
}
.post .links .permalink {
	padding-left: 17px;
}
/* Sidebar */
#sidebar {
	float: left;
	width: 162px;
	padding-left: 22px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}
#sidebar li {
	margin-bottom: 30px;
	padding: 0 0 10px 0px;
}
#sidebar li ul {
}
#sidebar li li {
	margin: 0 0 0 5px;
	padding-left: 10px;
	background: url(/static/images/img09.jpg) no-repeat left 4px;
}
#sidebar p {
	margin: 0;
	padding: 0px 10px;
}
#sidebar h2 {
	height: 26px;
	margin: 0 0 10px 0px;
	padding: 8px 0 2px 10px;
	background: url(/static/images/img06.jpg) no-repeat left top;
	text-transform: capitalize;
	font-size: 11px;
	font-weight: bold;
	color: #42423E;
}
#sidebar p {
	line-height: 200%;
}
#sidebar a {
	color: #696969;
}
/* navtree */
#sidebar ul.childtree {
	padding-top: 10px;
}
#sidebar li.navtreeitem a.selected {
    color: #000000;
}
/* Footer */
#footer {
    width: 1000px;
    height: 95px;
    margin: 0 auto;
    padding: 0;
    background: url(/static/images/img05.jpg) no-repeat left top;
}
#footer p {
    margin: 0;
    padding: 56px 0;
    text-align: center;
    line-height: normal;
    text-transform: uppercase;
    font-size: 10px;
    color: #66665E;
}
#footer a {
    color: #000000;
}
/* batch */
.batch {
	width: 100%;
	text-align: center;
}
.leftellipsis {
	margin-left: 1em;
}
.rightellipsis {
	padding-right: 1em;
}
/* forms */
form h5 {
	margin: 0;
	font-weight: normal;
	font-size: 100%;
}
form div.error {
	border: red 1px solid;
	background-color: #f3c789; 
}
form div.field {
	margin: 2px;
}
form div.message {
    padding: 2px 2px 0px 2px;
}
/* Contents */
table.contents {
	width: 100%;
	border-style: solid;
	border-width: 1px 0px 0px 1px;
	border-color: #ccc;
	border-collapse: collapse;
	border-spacing: none;
}
table.contents th {
	padding: 4px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background-color: #eee;
	text-align: left;
}
table.contents td {
	padding: 4px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
/* Icons */
a.view16_16 {
	text-decoration: none;
	padding-left: 16px;
	width:16px;
	background:url('/static/images/view16_16.png') 50% 50% no-repeat;
}
a.edit16_16 {
	text-decoration: none;
    padding-left: 16px;
	width:16px;
    background:url('/static/images/edit16_16.png') 50% 50% no-repeat;
}
a.add16_16 {
    text-decoration: none;
    padding-left: 16px;
    width:16px;
    background:url('/static/images/add16_16.png') 50% 50% no-repeat;
}
a.up16_16 {
    text-decoration: none;
    padding-left: 16px;
    width:16px;
    background:url('/static/images/up16_16.png') 50% 50% no-repeat;
}
/* Dropdown */
.dropdown_items {
    display:none;
    position:absolute;
    margin-top:0px;
    padding:3px;
    z-index:10000;
    width:200px;
    list-style-type:none;
    list-style-image:none;
    border:#aaa 1px solid;
    background-color:#fff;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
}
.dropdown_items li {
    margin:0;
}
.dropdown_items li a {
    padding-left:18px;
    text-decoration:none;
    border:none;
}
/* Contextmenu */
div.contextmenu {
	border-top:#ccc 1px solid;
	padding: 2px;
}
div.contextmenu div {
    float:left;
	margin-top:2px;
}
